footer {
    height: 200px;
}

footer h3 {
    margin-bottom: 5px;
}

footer h5, .copyright-which-funny-enough-is-on-the-left-side h5 {
    font-size: 18px;
    line-height: 3em;
}

.copyright-which-funny-enough-is-on-the-left-side {
    position: relative;
    top: 69px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}