* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

h2 {
    font-size: 30px;
}

body {
    position: relative;
}

main, footer {
    position: relative;
    top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}